<p id="notice"><%= notice %></p>
<h1>Categories</h1>
<% @categories.each do |category| %>
  <ul>
    <li><%= link_to category.name, category_films_path(category) %> <i>(<%= category.films_count %></i>)</li>
  </ul>
<% end %>

<%= link_to 'Add New Film', new_film_path %>